*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
/* common styls start */
.container-width{
 max-width: 1140px;
 margin-left: auto;
 margin-right: auto;
}

.priamary-color{
    color: #E95A08;
}
.text-color{
    color: rgba(0, 0, 0, 0.50);;
}
/* google fonts */

.title-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}


.description-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styls end */

/* nav styles start */
.nav-list-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}
.nav-right-side-container{
    display: flex;
    gap: 3rem;
    align-items: center;
    
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #8987A1;
}
.home{
    color: #252432;
}
.cart{
    color: #000000;
}
.fa-cart-shopping{
    margin-right: 8px;
}
.mobile-cart{
    display: none;
}

/* Nav Responsive Style Start */
@media screen and (max-width:576px) {
    .nav-right-side-container li{
        display: none;
    }
    .mobile-cart{
        display: block !important;
    }
}
/* Nav Responsive Style End */
/* nav styles end */
/* banner style start */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 8rem;

}
.banner-title{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.banner-details{
    color: #00000080;
    opacity: 50%;
}

/* banner responsive style start */
@media screen and (max-width: 576px) {
    .banner-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
        max-width: 100%;
    }
}
/* banner responsive style end */
/* banner style end */

/* our plants styls start */
.our-plants-title-container{
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}
.our-plants-title{
    margin-bottom: 2rem;
}
.our-plant-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    text-align: center;
    row-gap: 2rem;
    column-gap: 1.3rem;
}
.flower-price{
    color: #111111;
    font-size: 22px;
    font-weight: 700;
}
.add-to-cart-btn{
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    width: 100%;
    padding: 12px 36px;
    margin-top: 2rem;
}

@media screen and (max-width: 576px) {
    .our-plant-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    text-align: center;
    row-gap: 2rem;
    column-gap: 1.3rem;
    padding: 0 16px;
}
}

/* our plants styls end */

/* plants-lover-section styls start */
.plants-lover-section-container{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 12rem;
    gap: 5rem;
    position: relative;
}
.plants-lover-img{
    max-width: 90vh;
}
.plants-lover-title{
    color: #000000;
    font-size: 3rem;
}
.plants-lover-list{
    margin-top: 2rem;
    padding-left: 2rem;
}
.plants-lover-list-item{
    margin: 2rem 0;
}
.verified-badge{
    position: absolute;
    top: -160px;
    left: 25%;
}
.trusted-img{
    width: 45%;
    height: 45%;
}
/* plants-lover-section styls End */