*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
/* common styls start */
.container-width{
 max-width: 1140px;
 margin-left: auto;
 margin-right: auto;
}

.priamary-color{
    color: #E95A08;
}
.text-color{
    color: rgba(0, 0, 0, 0.50);;
}
/* google fonts */

.title-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}


.description-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styls end */

/* nav styles start */
.nav-list-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}
.nav-right-side-container{
    display: flex;
    gap: 3rem;
    align-items: center;
    
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #8987A1;
}
.home{
    color: #252432;
}
.cart{
    color: #000000;
}
.fa-cart-shopping{
    margin-right: 8px;
}
.mobile-cart{
    display: none;
}

/* Nav Responsive Style Start */
@media screen and (max-width:576px) {
    .nav-right-side-container li{
        display: none;
    }
    .mobile-cart{
        display: block !important;
    }
}
/* Nav Responsive Style End */
/* nav styles end */
/* banner style start */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 8rem;

}
.banner-title{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.banner-details{
    color: #00000080;
    opacity: 50%;
}

/* banner responsive style start */
@media screen and (max-width: 576px) {
    .banner-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
        max-width: 100%;
    }
}
/* banner responsive style end */
/* banner style end */

/* our plants styls start */
.our-plants-title-container{
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}
.our-plants-title{
    margin-bottom: 2rem;
    color: #000000;
    font-weight: 700;
}
.our-plant-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    text-align: center;
    row-gap: 2rem;
    column-gap: 1.3rem;
}
.flower-price{
    color: #111111;
    font-size: 22px;
    font-weight: 700;
}
.add-to-cart-btn{
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    width: 100%;
    padding: 12px 36px;
    margin-top: 2rem;
}

@media screen and (max-width: 576px) {
    .our-plant-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    text-align: center;
    row-gap: 2rem;
    column-gap: 1.3rem;
    padding: 0 16px;
}
}

/* our plants styls end */

/* plants-lover-section styls start */
.plants-lover-section-container{
    display: flex;
    margin-top: 12rem;
    gap: 5rem;
    position: relative;
    align-items: center;
    margin-bottom: 7rem;
}

.plants-lover-title{
    color: #000000;
    font-size: 3rem;
}

.plants-lover-list{
    margin-top: 2rem;
    padding-left: 2rem;
}
.plants-lover-list-item{
    margin: 2rem 0;
}
.verified-badge{
    position: absolute;
    top: -160px;
    left: 30%;
}
.trusted-img{
    width: 45%;
    height: 45%;
}

@media screen and (max-width:576px) {
    .plants-lover-section-container{
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    gap: 5rem;
    padding:0 1rem ;
    
}
.trusted-img{
    display: none;
}
    
}

/* plants-lover-section styls End */

/* Our Deals Styls start */
.deals-title-container{
    text-align: center;
    margin-bottom: 7rem;
}
.deals-title{
    color: #000000;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.deals-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    gap: 1rem;
    margin-bottom: 7rem;
    color: #FFFFFF;
   
}
.deals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deals-img1{
    background-image: url("../asserts/deal-bloom.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    
}
.deals-img2{
    background-image: url("../asserts/deal-ana.png");
    background-size: cover;
    height: 100%;
    width: 100%;
   
}
.deals-img-right{
     background-image: url("../asserts/deal-zabo.png");
    background-size: cover;
    grid-column: 2;
    grid-row: 1/ span 2 ;
    height: 100%;
    width: 100%;
}
.deals-title-text{
   margin-bottom: 1rem; 
}
.deals-title-text-right{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.shop-now{
    color: #FFFFFF;
}
@media screen and (max-width: 576px) {
    .deals-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    padding: 0 1rem;
    }
    
    .deals-img-right{
    grid-column: auto !important;
    grid-row: auto !important;
}
    .deals-title-text-right{
    font-size: 20px;
   
}
}

/* Our Deals Styls End */
/* Join styls start */
.join-container{
    background-image: url("../asserts/news-letter-bg.png");
    background-size: cover;
    height: 500px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.join-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
#input{
    width: 40vw;
    padding: 1rem 1rem;
    border: none;
}
.btn-subscribe{
    background-color: #E95A08;
    border: none;
    color: #FFFFFF;
    padding: 1rem 2rem;
}
@media screen and (max-width:576px) {
    .join-container{
        margin: 0 1rem;
        text-align: center;
    }
}



/* Join styls end */

/* Footer styles start */
.footer-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    margin-top: 3rem;
   
}
.footer-list li{
    list-style-type: none;
    line-height: 3rem;
}
.footer-list li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.50);;;
}
.footer-img{
    padding-left: 2rem;
}

@media screen and (max-width: 576px) {
    .footer-container{
        grid-template-columns: 1fr;
        padding-left: 1rem;
   
}
}
/* Footer styles End */